* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 499px) {
    .content {
        width: 95%;
    }

    .headerTable thead {
        display: none;
    }

    .titulosTable thead {
        display: none;
    }

    .titulosTable tbody td {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        border-radius: 5px;
        -moz-border-radius: 5px;
        padding: 5px;
    }

    .titulosTable tfoot {
        display:  none;
    }
}

@media only screen and (min-width: 500px) {
    .content {
        width: 95%;
    }

    .titulosTable tbody tr td:nth-child(1) {
        width: 15%;
    }

    .titulosTable tbody tr td:nth-child(2) {
        width: 10%;
    }

    .titulosTable tbody tr td:nth-child(3) {
        width: 15%;
        text-align: right;
    }

    .titulosTable tbody tr td:nth-child(4) {
        width: 15%;
    }

    .titulosTable tbody tr td:nth-child(5) {
        width: 45%;
        text-align: left;
    }

    .titulosTable tfoot tr th:nth-child(1) {
        padding-right: 3px;
        text-align: right;
        text-decoration: none;
    }

    .titulosTable tfoot tr td:nth-child(2) {
        padding-right: 3px;
        text-align: right;
        text-decoration: none;
    }

    .headerTable thead tr td:nth-child(1) {
        width: 50%;
    }

    .headerTable thead tr td:nth-child(2) {
        width: 50%;
    }
}

.titulosFooterDivNav {
    text-align: center;
    padding-top: 5px;
}

.pagination>li>a:hover {
    background: #aaa;
}

.headerTable {
    width: 100%;
    background: #fff;
}

.logoimg {
    height: 80px;
    display: block;
}

.content {
    display: flex;
    margin: auto;
}

.titulosTable {
    width: 100%;
    text-align: center;
}

.titulosTable thead {
    background: #7f0000;
    font-weight: bold;
    color: #fff;
    font-family: Arial;
}

.titulosTable tbody tr:nth-child(2n) {
    background: #ccc;
}

.titulosTable th {
    align-content: center;
    font-family: Arial;
    font-size: 13px;
    padding: 5px;
}

.titulosTable tbody tr td {
    padding: 3px;
    align-content: center;
    font-family: Arial;
    color: #708090;
    font-size: 13px;
}

.titulosTable tfoot {
    background: #7f0000;
    font-weight: bold;
    color: #fff;
    font-family: Arial;
}

.firstLI {
    color: #000000;
    margin-top: 60px;
}

.iconList li img {
    display: inline-grid;
    width: 3%;
    margin: 2em;
    margin-left: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.listText {
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-weight: bold;
    margin-top: 80px;
    color: #f74d00;
}

.logo {
    padding-top: 20px;
}

.inner-screen {
    background: #b11925;
    padding-top: 25px;
}

.form {
    width: auto;
    max-width: 400px;
    height: auto;
    background: #edeff1;
    padding-top: 5px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.formt {
    padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    width: auto;
    max-width: 900px;
    height: auto;
    background: #edeff1;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.divButtonNovaConsulta {
    text-align: center;
}

.buttonNovaConsulta {
    display: block;
    background: #b11925;
    width: 314px;
    padding: 12px;
    cursor: pointer;
    color: #fff;
    border: 0px;
    margin: auto;
    border-radius: 5px;
    outline: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 17px;
    transition: all 0.3s ease;
}

.buttonNovaConsulta:hover {
    background: #aaa
}

.buttonConsulta {
    display: block;
    background: #b11925;
    width: 314px;
    padding: 12px;
    cursor: pointer;
    color: #fff;
    border: 0px;
    margin: auto;
    border-radius: 5px;
    outline: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 17px;
    transition: all 0.3s ease;
}

.buttonConsulta:hover {
    background: #aaa
}

.buttonDownload {
    align-content: center;
    background: #b71c1c;
    color: white;
    border: 1px solid #eee;
    border-radius: 20px;
    outline: none;
    text-shadow:none;
}

.buttonDownload:hover {
    background: #f05545;
    color: whitesmoke;
}

.pDownload {
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
}

.inputTextCPF {
    display: block;
    width: 309px;
    height: 35px;
    margin: 15px auto;
    background: #fff;
    border: 0px;
    padding: 5px;
    font-size: 16px;
    border: 2px solid #fff;
    transition: all 0.3s ease;
    border-radius: 5px;
    outline: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.inputTextCPF:focus {
    border: 2px solid #b11925;
    outline: none;
}

.wrapper {
    background: #b11925;
}

body {
    background: #b11925;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    text-align: center;
    font-family: Arial;
    color: gray;
    display: block;
    margin: 15px auto;
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 12px;
}

h2 {
    text-align: center;
    font-family: Arial;
    color: gray;
    display: block;
    margin: 15px auto;
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 16px;
}

h6 {
    text-align: center;
    font-family: Arial;
    color: gray;
    display: block;
    margin: 15px auto;
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 12px;
}

a {
    text-align: center;
    font-family: Arial;
    color: gray;
    display: block;
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 12px;
}

a:hover {
    color: #b11925;
}

::-webkit-input-placeholder {
    color: gray;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: gray;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: gray;
}

:-ms-input-placeholder {
    color: gray;
}
